@tailwind base;
@tailwind components;
@tailwind utilities;


  body {
    background-color: #010A13; 
    color: white; 
    cursor: url("https://brand.riotgames.com/images/league-of-legends/cursor.png"), auto;
  }

